<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header> Welcome</mat-card-header>
    <mat-card-content>
      <p>
        {{ product.data.firstName | uppercase }}
        {{ product.data.middleName | uppercase }}
        {{ product.data.lastName | uppercase }}
      </p>
    </mat-card-content>
  </mat-card>
</div>
