<mat-toolbar color="primary" class="app-header">
  <div></div>
  <span class="nav-tool-items">
    <a mat-button routerLink="register" routerLinkActive="active">Register</a>
    <a mat-button mat-raised-button routerLink="login" routerLinkActive="active"
      >Log in</a
    >
  </span>
</mat-toolbar>

<router-outlet></router-outlet>
