<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">


      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
  <div>{{errorMessage}}</div>
      <form class="example-form" [formGroup]="loginForm" >
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" formControlName="email" id="email" >
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput required  type = "password" placeholder="Password"  formControlName="password" id= "password">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block" (click)="submitForm()" [disabled]="!loginForm.valid">Log in</button>
      </form>
    </mat-card>
  
  </div>