<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <!--<mat-card-header>
      <mat-card-title></mat-card-title>
    </mat-card-header>-->
    <div>{{ errorMessage }}</div>
    <form
      [formGroup]="registrationForm"
      autocomplete="off"
      novalidate
      class="example-form"
    >
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input
            matInput
            required
            placeholder="First Name"
            formControlName="firstName"
            id="firstName"
            maxlength="255"
          />
          <mat-error>
            {{ errors.firstName }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Middle Name/Intial"
            formControlName="middleName"
            id="middleName"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input
            matInput
            required
            placeholder="Last Name"
            formControlName="lastName"
            id="lastName"
            maxlength="255"
          />
          <mat-error>
            {{ errors.lastName }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input
            matInput
            required
            placeholder="Email Address"
            formControlName="userName"
            id="userName"
          />
          <mat-error>
            {{ errors.email }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input
            matInput
            required
            type="password"
            placeholder="Password"
            formControlName="userPassword"
            id="userPassword"
            minlength="6"
          />
          <mat-error>
            {{ errors.userPassword }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input
            matInput
            required
            type="password"
            placeholder="Confirm Password"
            formControlName="confirmPassword"
            minlength="6"
            [errorStateMatcher]="errorMatcher"
          />
          <mat-error *ngIf="registrationForm.hasError('passwordsDoNotMatch')">
            {{ errors.confirmPassword }}
          </mat-error>
        </mat-form-field>
        <div class="button-wrapper">
          <button
            mat-stroked-button
            color="accent"
            class="btn-block"
            (click)="createRegistrationForm()"
            [disabled]="!registrationForm.valid"
          >
            REGISTER
          </button>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>
